.container-item {
  width: 100%;
  height: 95%;
  /* background-color: linear-gradient(to right, #0c4411, #00ff37); */
  /* background-color: rgb(119, 118, 116); */
  background-color: #85A3B6;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  overflow: hidden; */
  /* justify-content: flex-end; */



  .image {
    flex:9;
    /* width: auto; */
    /* margin-right: 2px;
    margin-left: 2px; */
    overflow: hidden;
    /* margin: 5px; */
    margin: 5px 5px 0px 5px;
    height: calc(90% - 10px);
    /* flex: 1; */
    /* max-width: 50%; */
    /* max-height: 50%; */
    
  }

  .image img {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  }

  .name {
    /* margin-bottom: 8px; */
    /* font-size: 0.9em; */
    margin-top: 5px;
    height: 15%;
    font-size: 150%;
    text-align: center;
  }
  .details {
    /* flex: 1; */
    height: 20%;
    /* overflow: hidden; */
    /* margin-top: 10px; */
    text-align: center;
  
  }

  .details b {
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
  }

  .details .mat-icon {
    /* font-size: 30px; */
    height: 30px;
    width: 30px;
    vertical-align: middle;
    -webkit-background-clip: text;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: transparent;
    text-shadow: none;

  }
  .price{
    /* justify-content: flex-end; */
    max-height: 10%;
    text-align: right;
<<<<<<< HEAD
    font-size: 100%;
=======
    font-size: 110%;
>>>>>>> isaurinha
    margin: 1px 6px 1px 1px;
    overflow: hidden;
  }
  .price .number{
    font-size: 180%;
  }
  .price .day{
    font-size: 50%;
  }
  .name, .details, .price {
    flex: 1; /* These take up 1 part of the space */
    /* Adjust as needed */
  }
  .hidden-info {
    display: none;
  }
}

.green-check {
  background: linear-gradient(to top left, #5f745b,#38c725 );
  /* Cambia los códigos de color según tus preferencias */

  /* color:
  background-image: linear-gradient(to top left, #85ac75, #5b40be); */
}

.red-check {
  /* color: red; */
  background: linear-gradient(to top left,#a15e5e, #e71515 );
}
.mat-dialog-container {padding: 0px;}