<o-grid
  #grid
  attr="productGrid"
  title="Productos en alquiler"
  cols="4"
  query-rows="8"
  show-page-size="true"
  page-size-options="4;8;16"
  orderable="true"
  quick-filter="true"
  sort-column=""
  controls="true"
  refresh-button="true"
  insert-button="false"
  pagination-controls="false"
  gutter-size="5px"
  fixed-header="yes"
  [ngStyle]="{ height: '600px' }"
  service="product"
  entity="product"
  keys="id_product"
  columns="id_product;product_name;price;status;product_type;avaliable;main_photo" 
  visible-columns="main_photo;product_name;price;status;product_type;avaliable">
  <o-grid-item *ngFor="let list of grid.dataArray">
    <o-column layout-padding class="container-item">
      <div class="image">
        <img src="data:image/png;base64,{{list.main_photo}}">
      </div>
      <h4>{{ list.product_name }}</h4>
      <div class="price">
        <b>Precio: </b> <span> {{ list.price }} € </span>
      </div>
      <div class="status">
        <b>Estado: </b><span>{{ list.status }} </span>
      </div>
      <div class="product_type">
        <b>Producto: </b>
        <span>{{ list.product_type }} </span>
      </div>
      <div class="avaliable">
        <span><b>Disponible: </b> </span>
        <span>
          <mat-icon
            [ngClass]="{
              'green-check': list.avaliable,
              'red-check': !list.avaliable
            }">
            {{ list.avaliable ? "check_circle" : "cancel" }}
          </mat-icon>
        </span>
      </div>
      <div class="body">
        {{ list.body }}
      </div>
    </o-column>
  </o-grid-item>
</o-grid>
