<o-row layout-padding (click)="openDetail(list)" class="container" (onDataLoaded)="loadData($event)">
  <!-- <div class="item-div"> -->
  <div class="img-container">
    <img src="data:image/png;base64,{{data.main_photo}}" empty-image="assets/images/no-image.png">
  </div>
  <div class="data-container">
    <div class="name-container">
      <b>{{ data.product_name }}</b>
    </div>
    <div class="detail-container">
    <div class="avaliable">
      <span>{{ 'avaliable' | oTranslate}}: </span>
      <b>
        <mat-icon [ngClass]="{
            'green-check': data.avaliable,
            'red-check': !data.avaliable
          }">
          {{ data.avaliable ? "check_circle" : "cancel" }}
        </mat-icon>
      </b>
    </div>
    
      <div>
        <span>{{ 'tuser_user_' | oTranslate}}</span>
        <b>: {{data.tuser_user_}}</b>
      </div>
      <div class="status">
        <span>{{ 'status' | oTranslate}}: </span><b>{{ data.statusname | oTranslate }} </b>
      </div>
      <div class="product_type">
        <span>{{ 'product_type' | oTranslate}}: </span><b>{{data.product_type | oTranslate}}</b>
      </div>
      <div class="plocation">
        <span>{{ 'plocation' | oTranslate}}: </span><b>{{ data.plocation }} </b>
      </div>
      <div>
        <span>{{ 'pdetails' | oTranslate}}</span>
        <b>: {{data.pdetails}}</b>
      </div>
    </div>
    <div class="price-container">
      <b>{{ 'from' | oTranslate}} </b><b class="number">{{ data.price }}</b><b>€</b><b class="day">/{{ 'day' |
        oTranslate}} </b>
    </div>
  </div>
  <!-- </div> -->
</o-row>