.container {
  text-align: center;
  width: 98%;
  height: 100%;
  background-color: #85A3B6;
  overflow: hidden;
  /* margin: 10px; */
  color: rgba(255, 255, 255, 0.651);
}

.img-container {
  /* height: auto; */
  border-radius: 10px;
  height: 99%;
  width: 80%;
  overflow: hidden;
}

.img-container img {
  object-fit: cover;
  /* width: 100%; */
  height: 100%;
  width: 100%;
}

.data-container {
  /* height: 100%; */
  width: 20%;
  height: 90%;
  margin: 10px;
}

.name-container {
  font-size: 30px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); */
  height: 25%;
  padding-top: 5%;
}

.detail-container {
  font-size: 1.2em;
  text-align: left;
  height: 50%;
}

.detail-container div {
  padding: 2px;
}

.price-container {
  height: 15%;
  text-align: right;

  /* justify-content: flex-end; */
  /* max-height: 10%; */
  /* margin-top: 20px;
  margin-right: 10px;
  
  
  font-size: 150%;
  overflow: hidden; */

}

.price-container .number {
  font-size: 180%;
  text-align: center;
}

.price-container .day {
  font-size: 50%;
}

.detail-container .mat-icon {
  font-size: 100%;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  color: transparent;
  text-shadow: none;

}

.green-check {
  background: linear-gradient(to top left, #5f745b, #38c725);
  /* Cambia los códigos de color según tus preferencias */

  /* color:
  background-image: linear-gradient(to top left, #85ac75, #5b40be); */
}

.red-check {
  /* color: red; */
  background: linear-gradient(to top left, #a15e5e, #e71515);
}

.miBotonPersonalizado {
  background-color: #FFA099;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: end;
  padding: 3%;
}