.container {

    margin: 20px;
}

.img-container {
    padding: 10px;
}

.hspacer {
    height: 20%
}

.spacer {
    width: 15px;
}

.data-container {
    margin-top: 5%;
}

.data-container o-row {
    padding: 10px;

}