.in-container{
    height: 90%;
}
.out-container{
    height: 90%;
}
  .detail-container{
    display: inline-block;
    padding: 4px;
  }
  .button-container{
    display: inline-block;
    justify-content: end;
  }
  .coment-container{
    padding: 4px;
    /* display: block; */
    display: flex;
    flex-direction: column;
  }
  .expandable-container{
    /* height: 3vw; */
    font-size: 1.2em;    
  }
  .out-container tr{
    height: 200px;
  }
