<o-button attr="misalquileres" type="MIS ALQUILERES" label="Primary" layout-padding color="primary"></o-button>
  <o-table #tableout service="productsRequest" entity="myProductRequestEntry" keys="id_prequest"
    columns="main_photo;id_prequest;product_name;start_date;end_date;tproducts_id_product;state;price;request_text;r_user;p_user;p_phone;r_phone"
    visible-columns="main_photo;product_name;start_date;end_date;state;profit" query-rows="10" pageable="no"
    insert-button="no" delete-button="no" detail-mode="none" refresh-button="none">
    <!-- (onDataLoaded)="filterTable($event)" -->
    <o-table-column class="o-table-column-centered" attr="product_name" title="product_name"></o-table-column>
    <o-table-column attr="main_photo" orderable="no" searchable="no" width="64px">
      <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
      </o-table-cell-renderer-image>
    </o-table-column>
    <o-table-column attr="start_date" title="start_date" width="22%" type="date" format="L"></o-table-column>
    <o-table-column attr="end_date" title="end_date" width="22%" type="date" format="L"></o-table-column>
    <!-- <o-table-column #profit attr="profit" title="profit" >    </o-table-column> -->
    <o-table-column-calculated attr="profit" title="profit" [operation-function]="calculateProfit" currency-symbol="€"
      type="currency" currency-symbol-position="right">
    </o-table-column-calculated>

    <o-table-column attr="state" title="state" class="o-table-column-centered">
      <app-status-column-renderer></app-status-column-renderer>
    </o-table-column>
    <o-table-row-expandable icon-collapse="expand_more" icon-expand="chevron_right">
      <ng-template let-row>
        <!-- title="RENT DATA" icon="info" layout-gap="12px" class="container-expandable"(onDataLoaded)=(onExpanded)="loadData($event)"-->
        <!-- <o-column>  -->
        <div>
          <div class="detail-container">
            <span fxFlex="20%"><strong>{{'r_user' | oTranslate}}</strong>: {{row.r_user}}</span>
            <span fxFlex="20%"><strong>{{'r_phone' | oTranslate}}</strong>: {{row.r_phone}}</span>
            <span fxFlex="20%"><strong>{{'request_text' | oTranslate}}</strong>: {{row.request_text}}</span>
            <span fxFlex="20%"><strong>{{'price' | oTranslate}}</strong>: {{row.price}}€</span>
          </div>
          <div *ngIf="row.state=='pending'" fxLayout="row wrap" fxLayoutGap="14px">
            <o-button attr="applyBtn" type="RAISED" label="Apply" layout-padding color="Accent"
              (click)="openDetail(row)"></o-button>
            <o-button attr="denyBtn" type="STROKED" label="Deny" layout-padding color="Warn"
              (click)="stateUpdate(row)"></o-button>
          </div>
        </div>

        <!-- </o-column>  -->
      </ng-template>
    </o-table-row-expandable>
  </o-table>
</div>
<div class="in-container">
  <o-table #tablein service="productsRequest" entity="myProductRequest"
    columns="main_photo;id_prequest;product_name;start_date;end_date;tproducts_id_product;state;price;request_text;r_user;p_user;p_phone;r_phone"
    visible-columns="main_photo;product_name;start_date;end_date;p_user;p_phone;price;state;profit" query-rows="10"
    pageable="no" insert-button="no" delete-button="no" detail-mode="none" refresh-button="none">
    <o-table-column attr="product_name" title="product_name"></o-table-column>
    <o-table-column attr="main_photo" orderable="no" searchable="no" width="64px">
      <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
      </o-table-cell-renderer-image>
    </o-table-column>
    <o-table-column  attr="product_name" title="product_name"></o-table-column>
    <o-table-column attr="start_date" title="start_date" width="12%" type="date" format="L"></o-table-column>
    <o-table-column attr="end_date" title="end_date" width="12%" type="date" format="L"></o-table-column>
    <o-table-column attr="p_user" title="p_user" ></o-table-column>
    <o-table-column attr="p_phone" title="phone" type="phone" ></o-table-column>
    <o-table-column attr="price" title="price" currency-symbol="€" type="currency"
      currency-symbol-position="right"></o-table-column>
    <o-table-column attr="state" title="state" >
      <app-status-column-renderer></app-status-column-renderer>
    </o-table-column>
    <o-table-column-calculated attr="profit" title="COST" [operation-function]="calculateProfit" currency-symbol="€"
      type="currency" currency-symbol-position="right">
    </o-table-column-calculated>
    <o-table-column attr="CANCEL" title="" icon="close">
      <!-- <o-table-cell-renderer-action (onClick)="cancelRequest($event)" icon="event_busy"></o-table-cell-renderer-action> -->
      <app-button-column-renderer (messageEvent)="cancelRequest($event)"></app-button-column-renderer>
    </o-table-column>
  </o-table>
</div>