<o-form service="products" entity="product" keys="id_product" columns="id_product;product_name;price;status;product_type;avaliable;main_photo;plocation;tuser_user_"
  
  show-header-navigation="no" >
  <!--  -->
  <o-text-input oHidden enabled="no" attr="id_product" sql-type="INTEGER"  ></o-text-input>
  <o-row>
    <o-column>
      <o-image id="main_photo" attr="main_photo" empty-image="assets/images/no-image.png" sql-type="OTHER" image-type="base64"></o-image>
    </o-column>
    <o-column fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="product_name" required="yes"></o-text-input>
      </o-row>
      <o-row>
        <o-combo attr="status" service="products" entity="productStatus" keys="id" value-column="id" columns="id;status" visible-columns="status" read-only="no" required="yes"></o-combo>
        <o-checkbox attr="avaliable" read-only="no"></o-checkbox>
      </o-row>
      <o-row>
        <o-text-input class="input-padding" attr="product_type" fxFlex="40" required="yes"></o-text-input>
        <o-text-input attr="plocation" fxFlex></o-text-input>
      </o-row>
      <o-row>
        <o-currency-input attr="price" fxFlex="20" currency-symbol="EUR" max-decimal-digits="2"></o-currency-input>
      </o-row>
      <o-row>
        <o-text-input attr="pdetails" fxFlex></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>